* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: RobotoMono Nerd Font, sans-serif;
    color: #d9d9d9;
    font-size: 14px;
    min-height: 0;
}

#waybar {
  background: none;
}

.modules-left {
  margin-left: 4px;
}

.modules-right {
  margin-right: 4px;
}

.modules-left,
.modules-center,
.modules-right {
  margin-top: 4px;
  padding: 4px 8px;
  border-radius: 16px;
  background-color: rgba(40, 40, 40, 0.8);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}

.module {
  padding: 0 8px;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
    transition: all .3s ease;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button {
  border-radius: 50%;
  padding: 2px 3px;
  margin: 2px 4px;
  background-color: rgba(35, 35, 35, 0.8);
}

#workspaces button.active {
  background-color: #ff9b51;
}

#workspaces button:hover {
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}


/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}


#battery.charging, #battery.plugged {
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

